<div class="portfolio-content"  id="software-summary">
        <h2 style="background:orange;">&emsp;Software Skills</h2>
        <h3>&emsp;&emsp;Programming Languages</h3>
            <h4>&emsp;&emsp;&emsp;&emsp;JAVA <small>(3+ years experience)</small></h4>
            <div>
                <ul>
                    <li>Substantial involvment in several Java enterprise
                        application development </li>
                    <li>Knowledgable in building Java desktop standalone apps</li>
                </ul>
                <span>Frameworks: J2EE, Spring, JSF</span><br/>
                <span>IDEs: STS, IntelliJ IDEA</span><br/>
                <span>Web Servers: JBoss, Tomcat</span><br/>
            </div>
            <h4>&emsp;&emsp;&emsp;&emsp;PHP <small>(3+ years experience)</small></h4>
            <div>
                <ul>
                    <li>Developed and managed several websites and web app built with PHP and some                              frameworks</li>
                    <li>Worked severally in a team driven environment to develop complex non-trivial                            web applications</li>
                    <li>Always practiced TDD, BDD, Agile methodologies during development</li>
                </ul>
                <span>Frameworks: Yii, WordPress, Laravel</span><br/>
                <span>IDEs: PHPStorm</span><br/>
                <span>Web Servers: Apache, Nginx</span><br/>
            </div>
            <h4>&emsp;&emsp;&emsp;&emsp;C# <small>(less than a year)</small></h4>
            <div>
                <ul>
                    <li>Have practiced C# and created minimal applications on the .NET platform</li>                   </ul>
                <span>Frameworks: .NET</span><br/>
                <span>IDEs: Visual Studio</span><br/>
                <span>Web Servers: IIS</span><br/>
            </div>
            <h4>&emsp;&emsp;&emsp;&emsp;Ruby <small>(1+ year experience)</small></h4>
                <div>
                    <ul>
                        <li>Good understanding of Ruby</li>
                        <li>Worked on a personal ecommerce project unsing ruby on rails</li>
                        <li>welll invested in TDD development on ROR platform</li> 
                    </ul>
                    <span>Frameworks: Ruby On Rails</span><br/>
                    <span>IDEs: RubyMine</span><br/>
                    <span>Web Servers: IIS</span><br/>
                </div>
            <h4>&emsp;&emsp;&emsp;&emsp;Python <small>(less than a year)</small></h4>
            <div>
                <ul>
                    <li>Have a beginners-intermediate level experience of Python scripting</li>
                    <li>Practiced socket programming with python</li>
                    <li>Good understanding of performing network analytics using python</li>
                </ul>
                <span>IDEs: PyCharm</span><br/>
            </div>
            <h4>&emsp;&emsp;&emsp;&emsp;Javascript <small>(3+ years experience)</small></h4>
            <div>
                <ul>
                    <li>Always worked with javascript on the frontend alongside every web project</li>
                    <li>Strong experience using javascript libraries to develop Web 2.0 interactive                         UI</li>
                    <li>Good experience with javascript frameworks and backend</li>
                </ul>
                <span>Framworks: Meteor, Deployd</span><br/>
                <span>Libraries: JQuery, AngularJS, CreateJS, RequireJS, BackboneJS</span><br/>
                <span>IDEs: Bracket, WebStorm</span><br/>
                <span>Server Platforms: NodeJS</span><br/>
            </div>
        
        <h3>&emsp;&emsp;Mobile Development</h3>
            <h4>&emsp;&emsp;&emsp;&emsp;Android <small>(less than a year)</small></h4>
        
        <br/>
        
        <h3>&emsp;&emsp;Technologies</h3>
            <h4>&emsp;&emsp;&emsp;&emsp;Databases &amp; Big Data</h4>
                <div>
                    MySQL, MSSQL, Postgresql, SQLite, MongoDB, HADOOP
                </div>
            <h4>&emsp;&emsp;&emsp;&emsp;Web &amp; Services</h4>
                <div>
                    HTML 5, CSS3, REST, SOAP, JSON, XML, XPATH, XSLT
                </div>
            <h4>&emsp;&emsp;&emsp;&emsp;Softwares</h4>
                <div>
                    VirtualBox, Vagrant, Office 365, Adobe Photoshop, GIMP, MySQL Bench
                </div>
            
        &emsp;&emsp;<br/>
    </div>
